.env
__pycache__/
node_modules/
android/app/build/
android/build/
android/.gradle/
android/capacitor-cordova-android-plugins/build/
android/app/src/main/assets/public/
ios/App/App/public/
ios/App/Pods/
ios/App/build/
ios/App/DerivedData/
*.xcuserstate
xcuserdata/
